* {
  margin: 0;
  padding: 0;
}
body{text-align: center;}
.window {
  width: 250px;
  height: 375px;
  margin:20px auto;
  overflow: hidden;
}
.slides {
  display: flex;
  align-items: flex-start;
  position: relative;
  transition:all 0.3s;
}
.slides > img {
  top: 0;
}
span{
  padding:4px 8px;
  cursor: pointer;
  border-radius:2px;
  background: lightgray;
}
span:nth-child(2){
  margin:0 20px;
}
