*{
  margin:0;
  padding:0;
}
.window{
  width:250px;
  height: 375px;
  overflow: hidden;
  transition:0.3s;
}
.images{
  display: flex;
  align-items: flex-start; transition:all .3s;
}
button{
  margin-top:8px;
  border: none;
  width:60px;
  height:30px;
  margin-left: 8px
}
.red{
  color:red;
}